body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #4f4f4f;
  }

  .container-fluid {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
   
  .chat-layout {
    height: 95vh;
    width: 210vh;
    display: flex;
  }

  .contact-list {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
  }

  .contact-names {
    padding: 15px;
    margin-bottom: 10px;
    background: #fff;
    color: #000;
    list-style: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }

  .chat-box {
    background: #4f4f4f;
    overflow: none;
  }

  .chatting {
    display: flex;
    border-radius: 10px;
    flex-direction: column-reverse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    height: 85vh;
  }

  .loadBtn {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    order: 1;
  }

  .previousChat {
    flex-direction: column;
    order: 2;
  }

  .sender {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #c0c0c0;
    float: left;
    clear: both;
  }

  .sender-name {
    font-weight: bold;
  }

  .message-sender {
    font-weight: normal;
  }

  .receiver {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #989898;
    float: right;
    clear: both;
  }

  .input-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 7px;
  }

  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
  }

  i {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
  }

  .send-button {
    border: none;
    background: transparent;
  }

  .modal-body form input {
    border: 1px solid;
  }

  h5 {
    color: #000;
    font-weight: bold;
  }

  label {
    color: #000;
  }

  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  