body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #4f4f4f;
}

.container-fluid {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.chat-layout {
  height: 95vh;
  width: 210vh;
  display: flex;
}

.contact-list {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.contact-names {
  padding: 15px;
  margin-bottom: 10px;
  background: #fff;
  color: #000;
  list-style: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.chat-box {
  background: #4f4f4f;
  overflow: none;
}

.current-group {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: large;
}

.chatting {
  display: flex;
  border-radius: 10px;
  flex-direction: column-reverse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  height: 80vh;
}

.sender {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #c0c0c0;
  float: left;
  clear: both;
}

.sender-name {
  font-weight: bold;
}

.message-sender,
.message-receiver {
  font-weight: normal;
  word-wrap: break-word;
  max-width: 500px;
}

.receiver {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #989898;
  float: right;
  clear: both;
}

.input-box {
  position: relative;
  margin-top: 10px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.input-box .document-sharing {
  position: absolute;
  right: 50px;
  top: 0;
  background-color: #f9f9f9;
  border: none;
  background: transparent;
}

.input-box .document-sharing i {
  font-size: 30px;
}

.input-box .send-button {
  position: absolute;
  right: 5px;
  top: 0;
  background-color: #f9f9f9;
  border: none;
  background: transparent;
}

.input-box .send-button i {
  font-size: 30px;
}

.modal-body form input {
  border: 1px solid;
}

h5 {
  color: #000;
  font-weight: bold;
}

label {
  color: #000;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.manage-users-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.manage-users-modal .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.manage-users-modal .close-button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  color: #000;
}

.urlMsg {
  font-weight: normal;
  color: #0000ff;
}

.urlMsg:hover {
  text-decoration: underline;
  color: #0000ff;
}

@media (max-width: 480px) {
  .manage-users-modal .modal-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .message-sender,
  .message-receiver {
    font-weight: normal;
    word-wrap: break-word;
    max-width: 200px;
  }
}